<p style="color: green"><%= notice %></p>

<%= render @hour %>

<div>
  <%= link_to t('links.show'), edit_hour_path(@hour) %> |
  <%= link_to t('links.back'), hours_path %>


  <%= button_to "Apagar horário", @hour, method: :delete, class:"btn-danger" %>
</div>
