<%= form_with(model: scheduler) do |form| %>
  <% if scheduler.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(scheduler.errors.count, "error") %> prohibited this scheduler from being saved:</h2>

      <ul>
        <% scheduler.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, options_for_select(Scheduler.statuses.map {|key, value| [key.titleize, Scheduler.statuses.key(value)]}, @scheduler.status) %>
    
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :hour, style: "display: block" %>
    <%= form.time_field :hour %>
  </div>

  <div>
    <%= form.label :client_id, style: "display: block" %>
    <%= form.text_field :client_id, %>
    <%#= form.collection_select(:client_id, @clients, :id, :name, {}, { class:"form-control" }) %>
  </div>

  <div>
    <%= form.label :court_id, style: "display: block" %>
    <%#= form.collection_select(:court_id, @courts, :id, :name, {}, { class:"form-control" }) %>
    <%= form.text_field :court_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
