<div id="<%= dom_id scheduler %>">
  <p>
    <strong>Status:</strong>
    <%= scheduler.status %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= I18n.l(scheduler.date) %>
  </p>

  <p>
    <strong>Start Time:</strong>
    <%= scheduler.start_time %>
  </p>
<p>
    <strong>End Time:</strong>
    <%= scheduler.end_time %>
  </p>
  <p>
    <strong>Client:</strong>
    <%= scheduler.client_id %>
  </p>

  <p>
    <strong>Court:</strong>
    <%= scheduler.court_id %>
  </p>

</div>
