
   <p>
    <strong>Quadra:</strong>
    <%= scheduler.court.name  %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= I18n.l(scheduler.date) %>
  </p>

  <p>
    <strong>Início:</strong>
    <%= scheduler.start_time.strftime("%H:%M") unless scheduler.start_time.nil? %>
  </p>
<p>
    <strong>Final:</strong>
    <%= scheduler.end_time.strftime("%H:%M") unless scheduler.end_time.nil? %>
  </p>
  <p>
    <strong>Cliente:</strong>
    <%= scheduler.client.name  %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= (scheduler.total) %>
  </p>

</div>
