<p style="color: green"><%= notice %></p>
<%= flash[:errors]%>
<h1><%= t('new.scheduler')%></h1>

<%= render "form", scheduler: @scheduler %>

<br>

<div>
  <%= link_to t('links.back'), schedulers_path %>
</div>
