<p style="color: green"><%= notice %></p>

<%= render @scheduler %>

<div>
  
  <%= link_to t('links.edit'), @scheduler %> |
  <%= link_to t('links.back'), schedulers_path %>

  <%= button_to "Apagar Agendamento", @scheduler, method: :delete %>
</div>
