<div id="<%= dom_id value %>">
  <p>
    <strong>Beach day value:</strong>
    <%= value.beach_day_value %>
  </p>

  <p>
    <strong>Beach night value:</strong>
    <%= value.beach_night_value %>
  </p>

  <p>
    <strong>Tennis day value:</strong>
    <%= value.tennis_day_value %>
  </p>

  <p>
    <strong>Tennis night value:</strong>
    <%= value.tennis_night_value %>
  </p>

</div>
