<div id="<%= dom_id client %>">
  <p>
    <strong><%= @client.class.human_attribute_name(:name) %></strong>
    <%= client.name %>
  </p>

  <p>
    <strong><%= @client.class.human_attribute_name(:phone) %></strong>
    <%= client.phone %>
  </p>

  <p>
    <strong><%= @client.class.human_attribute_name(:status) %></strong>
    <%= client.status %>
  </p>

</div>          