<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Quadras para Aluguel</h1>
  </div>

  <div class="row">



    <!-- Default Card Example -->
    
    
    <% @courts.each do |court|%>
    <% i = 1 %>
    <div class="col">
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"><%= court.name %> - <%= I18n.l(Date.today) %></h6>
          <div class="dropdown no-arrow">
            <%= link_to new_scheduler_path, class:"btn btn-success btn-circle btn-sm" do %>
            <i class="fa fa-plus"></i>
            <% end %></th>
            
          </div>
        </div>
        <div class="card-body">

          <table class="table">
            <tbody>
              
              <% @hours.each do |hour| %>
              <td><%= hour.hour %></td>
                <%= i %>
                <% if Scheduler.where(id: i) != nil %>
                
                  <% agendamento = Scheduler.where(id: i) %>
                  <tr>
                  <td><%= agendamento.client.name %></td>
                  </tr>
                <% else %>
                  <tr>
                  <td>vazio</td>
                  </tr>
                <% end %>
                
                <% i = i + 1 %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      


    </div>
    <% end %>









  </div>

</div>