
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Quadras para Aluguel - dia <%= I18n.l(@date.to_date) %></h1>
</div>

<form action="/" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="date" name="date" />
  <input type="submit" />
</form><br/>

<div class="row">
                     
<% @courts.each do |court|%>

<div class="col-xl-3 col-md-6 mb-4">

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row justify-content-end">
            <div class="col-10">
                <h6 class="m-0 font-weight-bold text-primary pt-1"><%= court.name %> - <%= I18n.l(@date.to_date) %>
                </h6>
            </div>
            <div class="col-2">
            <%= link_to new_scheduler_path(:court_id => court.id) , class:"btn btn-success btn-circle btn-sm"  do %>
                <i class="fa fa-plus"></i>
                <%end%>
            </div>

        </div>
       
        <div class="dropdown no-arrow">
           
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Início</th>
                            <th>Final</th>
                            <th>Nome</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Início</th>
                            <th>Final</th>
                            <th>Nome</th>

                        </tr>
                    </tfoot>
                    <tbody>

                        <tr>
                            
                            <% schedulers_in_court = @schedulers.where(court_id: court.id, date: @date) %>
                            <% if schedulers_in_court.any? %>
                                <% schedulers_in_court.each do |element|%>
                                <td scope="row"><%= element.start_time.strftime("%H:%M") unless element.start_time.nil? %></td>
                                <td scope="row"><%= element.end_time.strftime("%H:%M") unless element.end_time.nil? %></td>
                                <td ><%= element.client.name %><%#= schedulers_in_court.first.date %></td>
                                </tr>
                                <%end%>
                            <%else%>
                                <td> - </td>
                                <td> - </td>
                                <td> - </td>
                                
                            
                                 
                                  
                                  
                            <% end %>

                        </tr>
            </div>
            </tbody>
            </table>
            
        </div>
        
    </div>
   </div> 
</div></div>
<% end%>

</div>