<p id="notice"><%= notice %></p>
<h1><%= @court.name %></h1>
<p>
  <strong><%= @court.class.human_attribute_name(:name) %>:</strong>
  <%= @court.name %>
</p>

<p>
  <strong><%= @court.class.human_attribute_name(:status) %>:</strong>
  <%= @court.status %>
</p>

<%= link_to t('links.edit'), edit_court_path(@court) %> |
<%= link_to t('links.back'), courts_path %>

<%= button_to "Apagar quadra", @court, method: :delete, class:"btn-primary" %>
